body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.pagination-button {
    background-color: #fafafa;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    cursor: pointer;
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.16);
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.16);
    box-shadow: 0 0 2px 2px rgba(0,0,0,.16);
    color: #9b9b9b;
}

.selected-pagination-button {
    background-color: #a8a8a8;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    cursor: pointer;
    -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
    box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
    color: black;
}

.pagination-buttons {
    text-align: center;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}
